@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom global styles here if needed */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Ensure Inter font is applied globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}